<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หลักการทำงาน - Smart Dice</title>
    <script src="../static/js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Kanit&family=Mitr:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
    <i id="iconmenu" class="ri-menu-line iconmenu" onmouseover="openNav()" onmouseout="closeNav()"></i>

    <div id="mySidenav" class="sidenav" onmouseover="openNav()" onmouseout="closeNav()">
        <i class="ri-menu-line iconmenu"></i>
        <a href="/templates/index.html">HOME</a>
        <a href="/templates/objective.html">Objective</a>
        <a href="/templates/equip.html">อุปกรณ์</a>
        <a href="/templates/code.html">Source Code</a>
        <a href="/templates/work.html">หลักการทำงาน</a>
        <a href="/templates/vdo.html">VDO</a>
        <a href="/templates/poster.html">Poster</a>
        <a href="/templates/member.html">Members</a>
    </div>
    <!-- navbar -->
    <img src="/static/img/5.png" class="imgwork">
    <p class="headwork">HOW DOES IT WORK ?</p>
    <video width="870" autoplay muted>
        <source src="/static/img/18.mp4" type="video/mp4">
    </video>
    <p class="txtwork" style="top: 30%; left: 65%;">เมื่อมีการกดปุ่ม switch การทำงาน</p>
    <br>
    <p class="txtwork" style="top: 40%; left: 65%;">ฟังก์ชั่นการ random ตัวเลขจะเริ่มทำการสุ่มตัวเลขขึ้นมา<br>และจะเริ่มการทำงานทันที</P>
    <br>
    <p class="txtwork" style="top: 55%; left: 65%;">เมื่อมีการสุ่มตัวเลขทั้งหมดเสร็จ หลอดไฟ LED ทั้ง6ดวงจะขึ้น<br>ตามตัวเลขที่ฟังก์ชั่น random ได้ลูปขึ้นมา</p>
    <br>
    <p class="txtwork" style="top: 70%; left: 65%;"> หลังจากนั้น 7-segment display จะขึ้นตามตัวเลข<br>ที่หลอดไฟ LED ที่ได้ปรากฎเมื่อสักครู่</p>
    <br>
</body>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>
</html>